/* General navbar styles */
.navbar {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: linear-gradient(to left, #ffd194, #70e1f5);
}

.navbar-container {
  max-width: 100%;
  padding: 20px 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

/* Logo */
.logo {
  font-size: 2.5vw;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
}
.logo span {
  color: #fa8f15;
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.nav-link {
  color: white;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #2563eb;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active {
  color: black;
}

/* Icons */
.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  font-size: 1.5rem;
  color: #fff;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #fa1515;
}

/* Login buttons */
.login-btn {
  background: #facc15;
  color: #1f2937;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background: #fde68a;
}

/* Burger icon */
.menu-icon {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1024px){
  .logo {
    font-size: 3vw;
  }
  
}

/* Responsive - Mobile */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #3b82f6;
    padding: 1rem 2rem;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-link {
    padding: 20px;
    font-size: 1rem;
  }

  .icons {
    display: none;
  }

  .navbar-container {
    padding: 0.5rem 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 5.5vw;
  }
}

/* Extra small devices */
@media (max-width: 480px) {
  .logo {
    font-size: 6vw;
  }

  .menu-icon {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 0.95rem;
  }

  .login-btn {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
}
